.dashboard-list .list a {
    padding: 0;
}

.dashboard-list .list.active a {
    padding-left: 10px !important;
}
.data-item.work-form-home {
    color: #fff;
    background-color: #03a9f4;
}
.data-item
{
    background-color: #79b6b8;
    color: #fff;
}

.alert.work-from-home {
    background-color: #333;
    padding: 3px 10px;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
}
.alert.leave {
    background-color: #d44e54;
    padding: 3px 10px;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
}
.alert.paid-leave {
    background-color: #667de1;
    padding: 3px 10px;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
}
.alert.sick-leave {
    background-color: #a8af4b;
    padding: 3px 10px;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
}
